div {
  background-color: blue;
  color: white;
  padding: 10;
  margin: 2em;
}

span {
  background-color: red;
  color: white;
  padding: 1px;
  margin: 2em;
}

p {
  background-color: yellow;
  margin: 2em;
}

.square {
  width: 400px;
  height: 400px;
  background-color: blue;
  color: white;
}
.square:active {
  width: 200px;
  height: 200px;
  background: yellow;
}

.circle {
  display: grid;
  width: 400px;
  height: 400px;
  background-color: orange;
  border-radius: 50%;
  place-items: center;
  transition: all 0.2s;
}

.circle:hover {
  background-color: chartreuse;
  transform: scale(1.2);
  transition: all 0.2s;
  width: 400px;
  height: 400px;
  border-radius: 0%;
}
